<body>
  <div class="login_page_container">
    <form>
        <div class="login_area">

            <!--start user panel block-->
            <div class="user_panel_block">
                <!--site title-->
                <div class="login_title"><img src="../assets/images/main_logo.png" alt="Atlas Lead Services" title="Atlas Lead Services" class="img-responsive" /></div>

                <div class="secure_login_title">
                    <img src="../assets/images/secure_login_title1.png" alt="SecureLogin" title="Secure Login" />
                </div>

                <!--user login block-->
                <div class="login_block">
                    <div class="login_inputbox_line">
                      <input type="text" class="form-control custom_inputbox" value="Username" title="Username" onfocus="if(this.value==this.title) this.value='';" onblur="if(this.value=='') this.value=this.title;" id="name" name="Username" />
                    </div>

                    <div class="login_inputbox_line">
                      <input type="password" class="form-control custom_inputbox" value="Password" title="Password" onfocus="if(this.value==this.title) this.value='';" onblur="if(this.value=='') this.value=this.title;" id="name" name="Password" />
                    </div>

                    <div class="checkbox">
                        <label class="remember_pass"><input type="checkbox"> Remember me</label>
                    </div>

                    <button class="btn login_btn_color" type="submit" action="">Login</button>
                    <div class="forgot_password"><a href=""><i class="fa fa-lock"></i>Forgot Password</a></div>
                </div>
                <!--end user login block-->
            </div>
            <!--end user panel block-->

            <div class="error_message">
                <p>Incorrect Username or Password</p>
                <p>Please verify &amp; re-enter your correct Username &amp; Password</p>
            </div>
            <div class="clearfix"></div>

        </div>
  </form>
  </div>


  <!--start footer block-->
  <div class="footer_block">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <p class="copyright_info">Copyright &copy; 2020, Timeshare Exit, All rights reserved</p>
            </div>
        </div>
    </div>
  </div>
  <!--end footer block-->
  <div class="body_bgOverlay"></div>
  </body>
