
<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>

		<div class="main-sidebar sidebar-style-2">
			<aside id="sidebar-wrapper">
				<div class="sidebar-brand">
					<a href="index.html"><img alt="image" src="../../assets/images/main_logo.png" class="header-logo" /></a>
				</div>

				<!--Left Sidebar Navigation-->
				<ul class="sidebar-menu">
					<li class="menu-header">Navigation</li>
					<li class="dropdown active">
            <a href="index.html" class="nav-link"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-tv" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM13.991 3H2c-.325 0-.502.078-.602.145a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z"/>
            </svg><span>Transfer Sheet</span></a>

					</li>
				</ul>
			</aside>
		  </div>


      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
			<form>
				<div class="row mt-sm-4">

					<div class="col-12 col-md-12 col-lg-12">
						<div class="card PersonalInformation_Block">
							  <div class="card-header">
								<h4 style="color: blue;">Transfer Sheet</h4>
							  </div>

							  <div class="card-body">

								<div class="TimeExit_FormBlock">
									<div class="PersonalInformation_row">
										<div class="row">
											<div class="col-lg-6">
												<div class="DateRefTop_row">
													<div class="row">
														<div class="col-lg-6">
															<div class="form-group">
																<label for="inpuDatePanel">Date:</label>
																<input type="text" class="form-control" id="inpuDatePanel" placeholder="">
															</div>
														</div>
														<div class="col-lg-6">
															<div class="form-group">
																<label for="inpuDatePanel">Rep:</label>
																<input type="text" class="form-control" id="inpuDatePanel" placeholder="">
															</div>
														</div>
														<div class="col-lg-12">
															<div class="form-group">
																<label for="inpuDatePanel">List:</label>
																<input type="text" class="form-control" id="inpuDatePanel" placeholder="">
															</div>
														</div>
													</div>
												</div>

												<div class="PersonaInformation_block">
													<div class="row">
														<div class="col-lg-6">
															<div class="form-group">
																<label for="inpuDatePanel">Client First name:</label>
																<input type="text" class="form-control" id="inpuDatePanel" placeholder="">
															</div>
														</div>
														<div class="col-lg-6">
															<div class="form-group">
																<label for="inpuDatePanel">Client Last name:</label>
																<input type="text" class="form-control" id="inpuDatePanel" placeholder="">
															</div>
														</div>
														<div class="col-lg-12">
															<div class="form-group">
																<label for="inpuDatePanel">Spouse First name:</label>
																<input type="text" class="form-control" id="inpuDatePanel" placeholder="">
															</div>
														</div>
														<div class="col-lg-12">
															<div class="form-group">
																<label for="inpuDatePanel">Phone Number:</label>
																<input type="text" class="form-control" id="inpuDatePanel" placeholder="">
															</div>
														</div>
													</div>
												</div>

												<div class="Note_DetailsBlock">
													<div class="form-group">
														<label for="inputMessage">Notes:</label>
														<textarea class="form-control"></textarea>
													</div>
												</div>
											</div>
											<div class="col-lg-6">
												<h3 class="questionBlock_Title">QUALIFIYING QUESTIONS:</h3>
												<div class="question_LineBlock">
													<h4>ARE YOU THE DEEDED OWNER OF TIMESHARE?</h4>
													<div class="Question_Checkbox">
														<div class="custom-checkbox custom-checkbox-table custom-control">
															<input type="checkbox" class="custom-control-input" id="checkbox-all1">
															<label for="checkbox-all1" class="custom-control-label">&nbsp; Yes</label>
														</div>
														<div class="custom-checkbox custom-checkbox-table custom-control">
															<input type="checkbox" class="custom-control-input" id="checkbox-all2">
															<label for="checkbox-all2" class="custom-control-label">&nbsp; No</label>
														</div>
													</div>
												</div>

												<div class="question_LineBlock">
													<h4>ARE YOU THE ONLY ONE ON THE DEED? </h4>
													<div class="Question_Checkbox">
														<div class="row deedHolder_row">
															<div class="col-lg-12 col-xl-12">
																<div class="custom-checkbox custom-checkbox-table custom-control">
																	<input type="checkbox" class="custom-control-input" id="checkbox-all3">
																	<label for="checkbox-all3" class="custom-control-label">&nbsp; Yes</label>
																</div>
																<div class="custom-checkbox custom-checkbox-table custom-control">
																	<input type="checkbox" class="custom-control-input" id="checkbox-all4">
																	<label for="checkbox-all4" class="custom-control-label">&nbsp; No</label>
																</div>

																<div class="custom-checkbox custom-checkbox-table custom-control OtherDeed_HolderInput">
																	<input type="checkbox" class="custom-control-input" id="checkbox-all5">
																	<div class="form-group">
																		<input type="text" class="form-control" id="inpuDatePanel" placeholder="OTHER DEED HOLDERS">
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="question_LineBlock">
													<h4>WHAT DEVELOPERS DO YOU CURRENTLY OWN WITH? </h4>
													<div class="Question_Checkbox">
														<div class="form-group">
															<input type="text" class="form-control" id="inpuDatePanel" placeholder="">
														</div>
													</div>
												</div>
												<div class="question_LineBlock">
													<div class="row">
														<div class="col-xl-6">
															<h4>DO YOU STILL MAKE MORGATE PAYMENTS? </h4>
															<div class="Question_Checkbox">
																<div class="custom-checkbox custom-checkbox-table custom-control">
																	<input type="checkbox" class="custom-control-input" id="checkbox-all7">
																	<label for="checkbox-all7" class="custom-control-label">&nbsp; Yes</label>
																</div>
																<div class="custom-checkbox custom-checkbox-table custom-control">
																	<input type="checkbox" class="custom-control-input" id="checkbox-all8">
																	<label for="checkbox-all8" class="custom-control-label">&nbsp; No</label>
																</div>
															</div>
														</div>

														<div class="col-xl-6">
															<h4>WHAT IS YOUR CURRENT BALANCE?</h4>
															<div class="Question_Checkbox">
																<div class="form-group">
																	<input type="text" class="form-control" id="inpuDatePanel" placeholder="">
																</div>
															</div>
														</div>
													</div>

												</div>
												<div class="question_LineBlock">
													<h4>WHAT IS YOUR CURRENT MAINTENANCE FEE?</h4>
													<div class="Question_Checkbox">
														<div class="row no-gutters Maintenannce_FeeRow">
															<div class="col-4">
																<div class="form-group">
																	<input type="text" class="form-control" id="inpuDatePanel" placeholder="">
																</div>
															</div>
															<div class="col-8"><span class="LabelNotice_Text"> YEARLY / MONTHLY</span></div>
														</div>

													</div>
												</div>
												<div class="question_LineBlock">
													<h4>ARE YOU CURRENT WITH YOUR PAYMENTS?</h4>
													<div class="Question_Checkbox">
														<div class="custom-checkbox custom-checkbox-table custom-control">
															<input type="checkbox" class="custom-control-input" id="checkbox-all13">
															<label for="checkbox-all13" class="custom-control-label">&nbsp; Yes</label>
														</div>
														<div class="custom-checkbox custom-checkbox-table custom-control">
															<input type="checkbox" class="custom-control-input" id="checkbox-all14">
															<label for="checkbox-all14" class="custom-control-label">&nbsp; No</label>
														</div>
													</div>
												</div>
												<div class="question_LineBlock">
													<h4>IF WE’RE ABLE TO ACCEPT YOUR CASE, ARE YOU FINANCIALLY CAPABLE OF BRINGING ALL PAST DUE PAYMENTS CURRENT?</h4>
													<div class="Question_Checkbox">
														<div class="custom-checkbox custom-checkbox-table custom-control">
															<input type="checkbox" class="custom-control-input" id="checkbox-all11">
															<label for="checkbox-all11" class="custom-control-label">&nbsp; Yes</label>
														</div>
														<div class="custom-checkbox custom-checkbox-table custom-control">
															<input type="checkbox" class="custom-control-input" id="checkbox-all12">
															<label for="checkbox-all12" class="custom-control-label">&nbsp; No</label>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>

									<div class="TransferCompany_Info_row">
										<h5>TRANSFER COMPANY INFORMATION:</h5>
										<div class="row">
											<div class="col-lg-4">
												<div class="form-group">
													<label for="inpuDatePanel">COMPANY NAME</label>
													<input type="text" class="form-control" id="inpuDatePanel" placeholder="">
												</div>
											</div>
											<div class="col-lg-4">
												<div class="form-group">
													<label for="inpuDatePanel">ACCEPTING AGENT</label>
													<input type="text" class="form-control" id="inpuDatePanel" placeholder="">
												</div>
											</div>
											<div class="col-lg-4">
												<div class="form-group">
													<label for="inpuDatePanel">TRANSFER TIME</label>
													<input type="text" class="form-control" id="inpuDatePanel" placeholder="">
												</div>
											</div>
										</div>
									</div>

								</div>

								<div class="buttons">
									<button class="btn btn-primary">Send</button>
									<button class="btn btn-info">Reset</button>
									<button class="btn btn-danger">Cancel</button>
								</div>
							  </div>
						</div>

					</div>
				</div>
			</form>

          </div>
        </section>

      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; 2020 <div class="bullet"></div> Powered By <a href="#">Server Pipe</a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
</body>
